@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Gilroy;
  src: url(./utils/fonts/Gilroy-Light.ttf);
}
@font-face {
  font-family:Gilroy-Bold;
  src: url(./utils/fonts/Gilroy-Bold.ttf);
}

@layer utilities {
    
    .scrollbar::-webkit-scrollbar {
      height: 7px;
     
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background: orange;
        cursor: pointer;
        border-radius: 40px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: orange;
    }
  }
  